<form>
  <mat-form-field class="span">
    <mat-label>Address Type</mat-label>
    <mat-select>
      <mat-option value="billing">Billing</mat-option>
      <mat-option value="mailing">Mailing</mat-option>
      <mat-option value="physical">Physical</mat-option>
      <mat-option value="transient">Transient</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="span">
    <mat-label>Address</mat-label>
    <input matInput required value="123 Demo Lane">
  </mat-form-field>

  <mat-form-field class="span">
    <mat-label>Address 2</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select value="united states">
      <mat-option value="united states">United States</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select required>
      <mat-option value="florida">Florida</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>County</mat-label>
    <input matInput disabled value="Hot as Hellville">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Zip Code</mat-label>
    <input matInput required>
  </mat-form-field>
</form>

<mat-divider></mat-divider>

<div class="contrast-slider">
  <small class="label">Populated field label size:</small>

  <mat-slider [displayWith]="formatLabel" min="16" max="22" step="1" discrete>
    <input [(ngModel)]="labelSize" matSliderThumb>
  </mat-slider>
</div>
